---
import "../assets/styles/global.scss"
import TopNav from "../components/TopNav.astro";
export interface Props {
	title: string;
	classes?: string;
}

const { title, classes = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	</head>
	<body class={`layout text-lg ${classes}`}>
		<TopNav title={title} />
		<slot />
	</body>
</html>
